<!-- extend base layout -->
{% extends "index_base.html" %}

{% block head_css %}
{{ super() }}
<link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>asd</h1>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous"
                src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
    </div>
    <div class="fb-page"
         data-href="https://www.facebook.com/page.Broadway.PALACE.AMC/?ref=nf&amp;hc_ref=ARQIHuDm-OzEYaf0Z_KwCo8duu0v_U_NGQ8Qm-tCzUM7dn7EQ-FfyVnylTBraxrC2CE"
         data-tabs="timeline, events, messages" data-width="500" data-height="800" data-small-header="false"
         data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote
                cite="https://www.facebook.com/page.Broadway.PALACE.AMC/?ref=nf&amp;hc_ref=ARQIHuDm-OzEYaf0Z_KwCo8duu0v_U_NGQ8Qm-tCzUM7dn7EQ-FfyVnylTBraxrC2CE"
                class="fb-xfbml-parse-ignore"><a
                href="https://www.facebook.com/page.Broadway.PALACE.AMC/?ref=nf&amp;hc_ref=ARQIHuDm-OzEYaf0Z_KwCo8duu0v_U_NGQ8Qm-tCzUM7dn7EQ-FfyVnylTBraxrC2CE">Broadway/
            PALACE/ AMC</a></blockquote>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Show More</button>
    <div id="demo" class="collapse">
        <h1>Broadway Cinema</h1>
        Broadway Circuit is currently the largest cinema circuit in Hong Kong, with many movie theaters across Hong Kong
        Island, Kowloon and the New Territories. Our sizable network of state-of-the-art movie theaters charm discerning
        moviegoers with their uniqueness, as each movie theater features a different design theme, making them always a
        joy to visit. Also, all Broadway Circuit movie theaters are meticulously equipped with the most advanced digital
        visual and audio technology, ensuring a both thrilling and premium movie Hong Kong experience for audiences.
        <br>
        <br>
        The name “Broadway” symbolizes the historical birthplace of many famous art shows and performances, such as
        movies, musicals, dramas, operas and dances, which all brought joy and excitement to countless audiences. First
        established in 1950, the Broadway Circuit has been at the forefront of the Hong Kong movie scene for many
        decades. After showing plenty of unforgettable titles in Hong Kong movie history, our iconic and much-loved
        cinema location on Sai Yeung Choi Street, Mong Kok was comprehensively rebuilt in 1987. Since then, our cinema
        circuit has steadily grown to become the leader in our industry, and we currently operate a total of 13 movie
        theaters in Hong Kong, with 70 movie screens and over 10,000 house seats. To satisfy a wide range of audiences,
        we currently manage 4 movie theater brands: “Broadway”, “My Cinema”, “Palace” and “MOViE MOViE”, each offering a
        distinct viewing experience for moviegoers.
        <br>
        <br>
        Other than a wide variety of mainstream movies and big-budget blockbusters, Broadway Circuit also offers a large
        collection of art house gems and delightful programs from around the world. No matter their tastes or interests,
        there is always something for every moviegoer at Broadway Circuit.
        <br>
        <br>
        Stay tuned to our official website for the latest movie news, share your thoughts in our movie discussion
        section, or conveniently purchase movie tickets online.
    </div>
    <footer class="mojFooter">
    <font face="Roboto Condensed" size="4">
        <center>
            <div class="container">
                <div class="bottom-footer">
                    <div class="col-md-12">
                        <ul class="footer-nav list-unstyled list-inline">
                            <h4>Follow Us</h4>
                                <a href="https://www.facebook.com/page.Broadway.PALACE.AMC"> <i class="fa fa-facebook-square fa-2x"></i></a>
                                <a href="https://www.youtube.com/user/BwayPalaceAmc"> <i class="fa fa-youtube-play fa-2x"></i></a>
                                <a href="https://www.instagram.com/broadway.palace.amc/"> <i class="fa fa-instagram fa-2x"></i></a>
                            <br>
                            <br>
                            <h4>Mobile Apps</h4>
                                <a href="https://play.google.com/store/apps/details?id=gd.com.client.broadway&feature=search_result&hl=en"> <i class="fa fa-android fa-2x"></i></a>
                                <a href="https://itunes.apple.com/hk/app/ticketing-broadway-palace/id403690922?mt=8"> <i class="fa fa-apple fa-2x"></i></a>
                        </ul>
                        <li><a href="advertisewithus.html">Advertise With Us</a></li>
                    </div>
                </div>
            </div>
            <div class="row ">
                <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &copy; 2019 Cinema.com.hk Limited.</p>
            </div>
    </font> </center>
    </footer>
</div>
{% endblock %}